<div class="container table-responsive">
  <h2>Small Customer Details</h2>  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Number of Employees</th>
        <th>Website</th>
        <th>Contract Expiry Date(DD-MM-YYYY)</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of smallCustomers">
      <tr class="success">        
        <td>{{customer.name}}</td>
        <td>{{customer.country}}</td>
        <td>{{customer.numberOfEmployees}}</td>
        <td>{{customer.websiteUrl}}</td>
        <td>{{customer.contractExpiryDate | date:'dd-MM-yyyy'}}</td>
        <td><a class="btn btn-primary" [routerLink]="['/editcustomerdetails', customer._id]">Edit</a></td>
      </tr>            
    </tbody>
  </table> 

  <h2>Big Customer Details</h2>  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Number of Employees</th>
        <th>Website</th>
        <th>Contract Expiry Date(DD-MM-YYYY)</th>
        <th>Annual Turnover</th>
        <th>Compliance Checked</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let customer of bigCustomers">
      <tr class="danger">
        <td>{{customer.name}}</td>
        <td>{{customer.country}}</td>
        <td>{{customer.numberOfEmployees}}</td>
        <td>{{customer.websiteUrl}}</td>
        <td>{{customer.contractExpiryDate | date: 'dd-MM-yyyy' }}</td>
        <td>{{customer.annualTurnover | currency:'EUR'}}</td>
        <td *ngIf='customer.complianceChecked'>Yes</td>
        <td *ngIf='!customer.complianceChecked'>No</td>
        <td><a class="btn btn-primary" [routerLink]="['/editcustomerdetails', customer._id]">Edit</a></td>
      </tr>            
    </tbody>
  </table> 
</div>